EMAIL=gm9875@srmist.edu.in
NAME=Giriprasanth M
ROLL_NO=RA2311008050002
ACCESS_CODE=your_access_code_from_email
CLIENT_ID=your_client_id_after_registration
CLIENT_SECRET=your_client_secret_after_registration
ACCESS_TOKEN=
BASE_URL=http://20.207.122.201/evaluation-service
